* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.chessboard {
  float: left;
  margin-left: 50px;

  .board {
    float: left;
    margin: auto;
    border: 5px solid black;

    .board-row {
      display: flex;

      .board-field {
        display: block;
        border: none;
        position
        width: 35px;
        height: 35px;

        .piece {
          display: block;
          float: center;
          margin: auto;
          width: 28px;
          height: 28px;

          .clicked {
            border: 2px solid red;
          }
        }
      }

      .white {
        background: rgb(224, 224, 153);
      }
      .black {
        background: rgb(109, 109, 96);
      }
    }
  }
}
